<!DOCTYPE html>
<html>
<head>
<title>Form Submission Confirmation</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="/contactRoutes.js"></script>
</head>
<body>
  <h1>Confirmation</h1>
  <p>{{ message }}</p>
</body>
</html>