<!-- Loop over each object in the projects array -->
<h1>logged in: {{logged_in}}</h1>
{{#each dogs as |dog|}}
  <div class='row mb-4 project'>
    <div class='col-md-5'>
      <h2>
        <a href='/dog/{{dog.id}}'>{{dog.name}}</a>
      </h2>
    </div>
    <div class='col-md-7'>
      <p>
        {{dog.description}}
      </p>
    </div>
  </div>
{{/each}}