<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true">
      <defs>
        <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1"
          patternUnits="userSpaceOnUse">
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
          stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
    </svg>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-600">Hey There!</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Welcome to Clifford's Dog Shelter
          </h1>
          <p class="mt-6 text-xl leading-8 text-gray-700">"At Clifford's Dog Shelter, our mission is to rescue,
            rehabilitate, and rehome dogs in need, providing them with a safe and loving environment. We are dedicated
            to their well-being, promoting responsible pet ownership and advocating for a community where every dog is
            valued and cherished."</p>
          <p></p>
          <p>-- Bob Clifford</p>
        </div>
      </div>
    </div>
    <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
        src="https://d.newsweek.com/en/full/2153874/dog-shelter.jpg" alt="">
    </div>
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Sarah's Success Story, like many others who
            trust Clifford's:</h2>
          <p class="mt-6">Sarah, a compassionate dog lover who had always dreamt of adopting a furry companion. After
            extensive research and soul-searching, Sarah stumbled upon Clifford's Dog Shelter and was immediately drawn
            to their mission of providing a safe haven for dogs in need.

            With a heart full of hope and excitement, Sarah visited the shelter and instantly connected with Skip, a
            gentle and loyal Labrador mix. Skip had faced a challenging past, but his resilient spirit touched Sarah's
            soul. Recognizing the incredible potential in Skip, she knew she had found her perfect furry friend.

            Sarah's journey as a first-time dog owner wasn't without its challenges, but Clifford's Dog Shelter was
            there every step of the way. The shelter's dedicated team provided Sarah with invaluable guidance, offering
            training resources, behavioral tips, and ongoing support. They ensured that Sarah and Skip received the
            necessary tools to build a strong bond and create a loving home environment.

            Through patience, consistency, and the unwavering support of Clifford's Dog Shelter, Sarah witnessed a
            remarkable transformation in Skip. From a timid and unsure pup, Skip blossomed into a confident and
            well-adjusted companion. The love and care he received from Sarah became the foundation for his remarkable
            growth.

            Inspired by the profound impact that Clifford's Dog Shelter had on her life, Sarah became an active advocate
            for the shelter. She regularly shares her heartwarming success story, encouraging others to consider
            adoption and highlighting the tireless efforts of the shelter in rescuing and rehabilitating dogs in need.

            Sarah and Skip's story serves as a testament to the transformative power of adoption and the incredible bond
            that can be formed between a dog and their owner.



          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-100">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <h2 class="text-2xl font-bold text-gray-900">Collections</h2>
      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://www.rd.com/wp-content/uploads/2017/11/05-amazon-9-Powerful-Ways-to-Give-to-Charity-Without-Breaking-the-Bank_527124532-Pongsatorn-Singnoy.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/adopt">
              <span class="absolute inset-0"></span>
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Adopt Now!</p>
        </div>
        <div class="group relative">
          <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
            <img src="https://images.ctfassets.net/sfnkq8lmu5d7/4YkK1xILTFo5YCra2BAQqB/ffd2680dc8049ec94b2eaeb5f2ceb4ba/The-Wildest_Editorial_Animal-Shelter_Hero_AdobeStock_248142538.jpg" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="h-full w-full object-cover object-center">
          </div>
          <h3 class="mt-6 text-sm text-gray-500">
            <a href="/visit-us">
              <span class="absolute inset-0"></span>
            </a>
          </h3>
          <p class="text-base font-semibold text-gray-900">Visit Us!</p>
        </div>
      </div>
    </div>
  </div>
</div>
